<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="stylesheet.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    

  </head>

  <body ng-app="myApp">
 
    <form class="form" ng-submit="addRevenue()" ng-controller="mainController">
      <h5>Add Revenue Item</h5>
        <fieldset class ="container-fluid">
              <div class="form-group row">
                    <label class="col-md-2">Item Description</label>
                    <input class="col-md-2" type="text" ng-model="itemDescription" placeholder="Enter Item">
              </div>
              
              <div class="form-group row">
                  <label class="col-md-2">One Time ($USD)</label>
                  <input class="col-md-2" type="number" ng-model="oneTimeRev" name="currency" min="0" max="99999" step="1.00" size="4"/>
              </div>
              
              <div class="form-group row">
                  <label class="col-md-2">Monthly ($USD)</label>
                  <input class="col-md-2" type="number" ng-model="monthlyRev" name="currency" min="0" max="99999" step="1.00" size="4"/>
              </div>
              
              <div class="form-group row">
                <div class="col-md-4">
                  <button class="btn btn-inverse" ng-click="addRevenue()" type='Submit' value="Submit">Add Revenue Item</button>
                </div>
              </div>
        </fieldset>
    </form>
   
    

    <div id="revenue-table" class="table-responsive container-fluid" ng-controller="mainController">  
      <div class="row col-md-8 offset-md-2">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Revenue Description</th>
              <th>One-Time</th>
              <th>Monthly</th>
              <th>Put Button here</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{}}</th>
              <td>{{}}</td>
              <td>{{}}</td>
              <td>
                <button class="btn btn-outline-secondary btn-md" ng-click=''>Delete</button>
              </td>
            </tr>
            <tr>
              <th>Totals</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <thead class="thead-inverse">
            <tr>
              <th>Expense Description</th>
              <th></th>
              <th></th>
              <th>Put Button here</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Expense 1</th>
              <td>$500</td>
              <td>$20</td>
              <td>
                <button class="btn btn-outline-secondary btn-md" ng-click=''>Delete</button>
              </td>
            </tr>
            <tr>
              <th>Totals</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    
    <script type="text/javascript" src="app.js"></script>

  </body>
</html>